body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: auto;
}

.top {
  position: relative;
  background-image: url(img/2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 80vh;

  .header {
    position: absolute;
    top: 2vh;
    left: 0;
    width: 100vw;
    height: 10vh;
    background-color: #000000;
    opacity: 0.5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    .logo {
      display: flex;
      flex-direction: column;
      width: 172px;
      height: 46px;

      div:first-child {
        font-family: 'Poppins', sans-serif;
        width: 169px;
        height: 29px;
        color: #ffffff;
        font-size: 36px;
        font-weight: 500;
        line-height: 22.36px;
        letter-spacing: 0.77px;
      }

      div:nth-child(2) {
        width: 171px;
        height: 12px;
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        font-weight: 500;
        line-height: 22.36px;
        text-transform: uppercase;
        letter-spacing: 30.41px;
      }
    }

    .tel {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      div {
        /* Style for "тел" */
        background: url(img/tel.png) no-repeat center center;
        width: 17px;
        height: 25px;
      }

      /* Style for "tel" */
      /* Style for "+123 456 7" */
      width: 130px;
      height: 12px;
      color: #ffffff;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 17px;
      font-weight: 400;
      line-height: 22.36px;
      /* Text style for "+123 456 7" */
      letter-spacing: 0.36px;
    }

    .email {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 190px;
      height: 17px;

      div {
        background: url(img/mes.png) no-repeat center center;
        width: 25px;
        height: 19px;
      }

      /* Style for "info@examp" */
      color: #ffffff;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 22px;
      font-weight: 400;
      line-height: 22.36px;
      /* Text style for "info@examp" */
      letter-spacing: 0.36px;
    }

    .searchBox {
      right: 5vw;
      transform: translate(10%, 0);
      background: rgba(255, 255, 255, 0.1);
      height: 40px;
      border-radius: 40px;
      padding: 10px;

    }

    .searchBox:hover > .searchInput {
      width: 240px;
      padding: 0 6px;
    }

    .searchBox:hover > .searchButton {
      background: white;
      color: #2f3640;
    }

    .searchButton {
      color: white;
      float: right;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #2f3640;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.4s;
    }

    .searchInput {
      border: none;
      background: none;
      outline: none;
      float: left;
      padding: 0;
      color: white;
      font-size: 16px;
      transition: 0.4s;
      line-height: 40px;
      width: 0px;
    }
  }

  .menu {
    position: absolute;
    top: 12vh;
    left: 0;
    width: 100vw;
    height: 4vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid white;

    ul {
      display: flex;
      flex-direction: row;
      width: 511px;
      height: 16px;
      color: #000000;
      font-family: "Roboto Condensed";
      font-size: 17px;
      font-weight: 400;
      line-height: 22.36px;

      li {
        margin: auto;
        list-style-type: none;

        &:nth-child(1) {
          color: red;
          letter-spacing: 0.36px;
        }

        &:nth-child(2) {
          letter-spacing: 0.36px;
        }

        &:hover {
          transform: translateY(-3px);
        }

        a {
          text-decoration: none;
          color: black;

          &:active {
            color: blue;
          }
        }

        &:nth-child(2) {
          a:active {
          }
        }
      }
    }

    &:hover {
      transition: height 1s;
      height: 9vh;

      ul {
        font-size: 20px;
        transition: font-size 1s, width 1s;
        width: 600px;
      }
    }
  }

  .name {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Style for "Morbi in n" */
    width: 100vw;
    height: 100vh;
    color: red;
    font-family: Poppins;
    font-size: 60px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0.6px;
  }

  .xz {
    position: absolute;
    top: 35vh;
    display: flex;
    width: 100vw;
    justify-content: center;
    /* Style for "Nunc eget" */
    height: 18px;
    font-family: "Roboto Condensed";
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    /* Text style for "N, unc ege" */
    letter-spacing: 0.18px;
  }

  .line {
    position: absolute;
    top: 40vh;
    width: 100vw;
    height: 10px;

    hr {
      width: 80px;
    }
  }

  .social {
    position: absolute;
    top: 55vh;
    width: 100vw;

    div {
      display: flex;
      flex-direction: row;
      width: 300px;
      margin: auto;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        margin: auto;
        font-size: 30px;
        border: 1px solid white;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.3);
        text-decoration: none;
        color: black;

        &:hover {
          background-color: rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}

.about_us {
  margin: 5vh auto;
  display: flex;
  flex-direction: row;
  height: 30vh;
  width: 70vw;
  align-items: center;
  justify-content: center;

  .text {
    display: flex;
    flex-direction: column;

    h1 {
      /* Style for "About Us!" */
      height: 28px;
      color: #f44336;
      font-family: Poppins;
      font-size: 36px;
      font-weight: 500;
      line-height: 36px;
    }

    p {
      width: 398px;
      height: 203px;
      color: #999999;
      font-family: "Roboto Condensed";
      font-size: 12px;
      font-weight: 300;
      line-height: 24px;
      letter-spacing: 0.12px;
    }
  }

  img {
    height: 250px;
  }
}

.services {
  border: 1px solid white;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  .services_title {
    margin: 82px 0 90px;
    text-align: center;
    color: #f44336;
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  .services_content {
    margin: 90px 0 108px;
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }

  .column {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;

    .services_text {
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      height: 100%;
      margin: 0 66px 0 0;

      .cont {
        height: 102px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .cont_title {
          width: 282px;
          text-align: right;
          /* Style for "Aut Perfer" */
          height: 14px;
          color: #000000;
          font-family: 'Poppins', sans-serif;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          /* Text style for "Aut Perfer" */
          letter-spacing: 0.16px;
        }

        .cont_text {
          text-align: right;
          /* Style for "Itaque ear" */
          width: 282px;
          height: 51px;
          color: #999999;
          font-family: Montserrat;
          font-size: 12px;
          font-weight: 400;
          line-height: 20px;
          /* Text style for "Itaque ear" */
          letter-spacing: 0.12px;
        }
      }
    }

    .services_sign {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      button {
        /* Style for "Эллипс 1" */
        display: flex;
        align-items: center;
        justify-content: center;
        width: 102px;
        height: 102px;
        border: 1px solid #acacac;
        background-color: #e1e1e1;
        border-radius: 50%;
        outline: none;
        cursor: pointer;

        &:focus {
          background-color: #f44336;
        }
      }
    }

  }

  .column-reverse {
    margin: 0 0 0 90px;
    flex-direction: row-reverse;

    .services_text {
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      height: 100%;
      margin: 0 0 0 66px;

      .cont {
        .cont_title,
        .cont_text {
          text-align: left;
        }
      }
    }
  }

  .cont_title {
    /* Style for "Aut Perfer" */
    width: 206px;
    height: 14px;
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    /* Text style for "Aut Perfer" */
    letter-spacing: 0.16px;
  }
}

.gallery {
  height: auto;
  border: 1px solid white;
  margin: 0;
  padding: 0;
  width: 100vw;

  .gallery_title {
    margin: 92px 0 92px;
    text-align: center;
    color: #f44336;
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    text-transform: capitalize;
  }

  .gallery_cont {
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: row;

    .gallery_cont_column {
      width: 24%;
      margin: 1%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      img {
        width: 100%;
      }

      .gallery_name {
        /* Style for "Assasin’s" */
        width: 100%;
        margin: 10px 0;
        height: 30px;
        text-align: center;
        color: #000000;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 23.94px;
        text-transform: uppercase;
        letter-spacing: 0.14px;
      }

      button {
        width: 40%;
        height: 30px;
        background-color: #f44336;
      }
    }
  }
}

.prev {
  margin: 100px 0;
  width: 100vw;
  height: 537px;
  background-color: rgba(102, 102, 102, 0.81);
  background-image: url("img/3.png");
  background-position: center;
  border: 1px solid rgba(0, 0, 0, 0);

  .prev_title {
    /* Style for "Testimonia" */
    margin-top: 85px;
    text-align: center;
    width: 100%;
    height: 39px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
  }

  .prev_sign {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 90px auto 60px;
  }

  .prev_line {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: row;

    button {
      background: transparent;
      border: 1px solid white;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 30px;
      color: white;
    }

    .prev_text {
      margin: 0 30px;
      text-align: center;
      width: 935px;
      color: #ffffff;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
    }
  }

  .prev_footer {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
  }
}

.footer {
  width: 100vw;
  padding: 20px 0;
  font-size: 20px;
  background-color: black;
  text-align: center;
  color: white;
}
.button {
  height: 100px;
  width: 100vw;

  .fa {
    position: absolute;
    right: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: #f44336;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;

  }
}
.news {

  width: 100vw;
  height: 100vh;

  .news_title {
    margin: 92px 0 92px;
    text-align: center;
    color: #f44336;
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 500;
    text-transform: capitalize;
  }

  .news_conteiner {
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .conteiner_left{

      width: 40vw;

      .left_title {
        /* Style for "Latest New" */

        color: #000000;
        font-family: Poppins;
        font-size: 2vw;
        font-weight: 500;
        line-height: 48px;
      }

      .left_element {
        width: 100%;
        height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;
        padding: 0;
        li {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          .li_one {
            padding: 1vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 13vh;
            width: 7vw;
            border-radius: 1vw;
            border: 1px solid #e8e8e8;
            background-color: #f7f7f7;
            text-align: center;

            div {
              color: #000000;
              font-family: Poppins;
              font-size: 2vw;
              font-weight: 500;
              line-height: 48px;
            }
            span {
              padding: 1vw;

              /* Style for "June" */
              color: #9e9e9e;
              font-family: Poppins;
              font-size: 1vw;
              font-weight: 500;
            }
          }
          .li_two {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 26vw;
            height: 13vh;

            .li_two_title {
              padding: 1vw;
              height: 3vh;
              width: 100%;
              color: #f44336;
              font-family: "Roboto Condensed";
              font-size: 1.6vw;
              font-weight: bold;
              line-height: 48px;
            }
            .li_two_text {
              width: 100%;
              color: #9e9e9e;
              font-family: "Roboto Condensed";
              font-size: 1vw;
              font-weight: 300;
            }
          }

        }

      }
    }
    .conteiner_right {

      width: 50vw;

      .right_title {
        color: #000000;
        font-family: Poppins;
        font-size: 2vw;
        font-weight: 500;
        line-height: 48px;
        border-bottom: 1px solid #c5c5c5;;
        padding-bottom: 1vh;
      }
    }
  }
}
@media screen and (max-width: 620px) {
  .searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
  }
  .services_content {
    display: flex;
    flex-direction: column;
  }
}
